Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4

Standard: c++20
AccessModifierOffset: -4
PointerAlignment: Left 

AlignTrailingComments: true

SpaceAfterCStyleCast: true 
SpaceAfterLogicalNot: true
SpaceBeforeCpp11BracedList: true
